body {
  background-color: #212121;
  color: #F3F3F3
}

#title {
	text-align: center;
	font-family: 'Hind', sans-serif
}
#subtitle {
	text-align: center;
	font-family: 'Palanquin Dark', sans-serif;
	font-size: 80px
}